{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{#{% block body_class %}template-homepage{% endblock %}#}

{% block content %}
<div class="btgrid1">
    <div><p class="btbounded-p">Hello left</p></div>
</div>
<div class="btgrid131">
    <div><p class="btbounded-p">Hello left</p></div>
    <div class="btbounded-p"><p>Hello center</p></div>
    <div><p class="btbounded-p">Hello right</p></div>
</div>
<div class="btgrid121">
    <div><p class="btbounded-p">Hello left</p></div>
    <div class="btbounded-p"><p class="btbounded-p">Hello center</p></div>
    <div><p class="btbounded-p">Hello right</p></div>
</div>
{% endblock content %}
