{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{#{% block body_class %}template-homepage{% endblock %}#}

{% block content %}
<div>
    {% image page.background_image max-400x300 %}
    {{ page.rtf_1|richtext  }}
    {% for block in page.body %}
        <h2>{{block.block_type}}</h2>
        {% if block.block_type == "image" %}
            {% image block.value max-300x300 %}
        {% else %}
            {% include_block block %}
        {% endif %}
    {% endfor %}
</div>
{% endblock content %}
