<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
        </title>
        <meta name="description" content="billtorcaso.org" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="">
    </head>
    <!--
    <body style="background-image:url('/tmp/BelleInBasket-PHOTO.jpg">
    <body style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg==');">
    -->
    <body>
        <div style="background-image:url('/tmp/BelleInBasket-PHOTO.jpg');height:2500px;">
            <p style="color:red;background-color:transparent";>Hello, world!</p>
        </div>
        <hr/>
        <div style="font-size:100px">
            <p style="font-size:300px">Hello, again! My font-size is 300px</p>
            <p>Hello, again! My font-size is 100px (from the div ...)</p>
        </div>
        <!--
        <div style="background-image:url('/tmp/BelleInBasket-PHOTO.jpg;background-repeat:no-repeat;">
        -->
        <!-- Note: this requires an absolute, correct path.  Because there is no Wagtail or Django to change this path -->
        <div style="background-image:url('/tmp/BelleInBasket-PHOTO.jpg');height:2500px;">
            <p style="color:red"> do you see Belle's photo? (red text)</p>
            <p style="color:white;background-color:green"> do you see Belle's photo? (white on green)</p>
            <p style="color:black"> do you see Belle's photo? (black text)</p>
        </div>
        <!--
        <div style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg==');" >
        -->
        <div>
            <p style="color:red"> do you see the inline-png image's photo? (red text)</p>
            <p style="color:white;background-color:blue"> do you see the inline-png image's photo? (white on blue)</p>
            <p style="color:black"> do you see the inline-png image's photo? (black text)</p>
        </div>
    </body>
</html>
