{% extends "base.html" %}
{% load navigation_tags static %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div class="btcontainer" align="center">
        <div class="btitem-header">
            {% get_site_root as site_root %}
            <a href="{{ site_root.url }}"><b style="font-size:36px">BILL TORCASO DOT ORG</b></a>
        </div>
        <div class="btitem-nav">
            <h3>Navigation</h3>
            {% page_objects_all %}
        </div>
        <div class="btitem-main">
            <p>Main</p>
        </div>
        <div class="btitem-sidebar">
            <h3>Sidebar</h3>
            Blog entries, etc.
        </div>
        <div class="btitem-footer">
            <div >
                <p>{% footer_text_get %}</p>
                <p><i>torcasobill@gmail.com</i></p>
            </div>
        </div>
    </div>
{% endblock content %}
