{% extends "base.html" %}
{% load navigation_tags static %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <style>
        /* Bill torcaso added these things*/
        .page-basic-wrapper {
          {% if page.background_image %}
            {% image page.background_image original as bground_image %}
            background: url({{bground_image.url}}) center;
          {% endif %}
          background-size: cover;
          margin-right: auto;
          margin-left:  auto;
          max-width: inherit;
          padding-right: 10px;
          padding-left:  10px;
        }
        /* Typography imported from Google Fonts */
        @import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

        h1, h2, h3, h4, h5, h6 {
          font-family: 'Playfair Display', serif;
        }

        p, a {
          font-family: 'Source Sans Pro', sans-serif;
        }

        /* Generic styles */
        html {
          scroll-behavior: smooth;
        }

        a {
          background-color: goldenrod;
          text-decoration: none;
          color: lightblue;
          border-radius: .25rem;
          text-align: center;
          display: inline-block;
          transition: all .3s;
        }

        a:hover {
          opacity: .6;
        }

        /* Styles for the hero image */
        .hero {
          /* Photo by mnm.all on Unsplash */
          padding: 4rem 2rem;
          /* grid styles */
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
          align-items: center;
        }

        .hero > * {
          color: black;
        }

        .hero > h1 {
          font-color: black;
          font-size: 4rem;
          padding-bottom: 1rem;
        }

        .hero > article > p {
          font-size: 1.5rem;
          font-weight: 200;
        }

        .hero > article > a {
          padding: 1rem;
          margin-top: .75rem;
        }

        /* BTOPage styles */
        .btosection {
          padding: 2rem;
          padding: 4rem 2rem;
          /* grid styles */
          {# I tried this: display: block;#}
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
          align-items: center;
          border: 1px solid black;
          border-radius: .5rem;
        }

        .btosection > ul {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
          grid-gap: 1rem;
        }

        .btosection > ul > li {
          /***border: 1px solid #E2E2E2;***/
          list-style-type:none;
          border: 1px solid green;
          border-radius: .5rem;
        }

        .btosection > ul > li > figure {
          /***max-height: 220px;***/
          max-height: 40vh;
          overflow: hidden;
          border-top-left-radius: .5rem;
          border-top-right-radius: .5rem;
          position: relative;
        }

        .btosection > ul > li > figure > img {
          width: 100%;
        }

        .btosection > ul > li > figure > figcaption {
          position: absolute;
          bottom: 0;
          color: white;
          background-color: rgba(0,0,0,.2);
          text-align: center;
          align-items: center;
          width: auto;
          height: auto;
        }

        .btosection > ul > li > figure > figcaption > h3 {
          color: white;
          padding: .75rem;
          font-size: 1.25rem;
        }

        .btosection > ul > li > p {
          font-size: 1rem;
          line-height: 1.5;
          padding: 1rem .75rem;
          color: #666666;
          color: black;
        }

        .btosection > ul > li > a {
          padding: .5rem 1rem;
          margin: .5rem;
        }


        /* breweries styles */
        .breweries {
          padding: 2rem;
          padding: 4rem 2rem;
          /* grid styles */
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
          align-items: center;
        }

        .breweries > ul {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
          grid-gap: 1rem;
        }

        .breweries > ul > li {
          border: 1px solid #E2E2E2;
          border-radius: .5rem;
        }

        .breweries > ul > li > figure {
          max-height: 220px;
          overflow: hidden;
          border-top-left-radius: .5rem;
          border-top-right-radius: .5rem;
          position: relative;
        }

        .breweries > ul > li > figure > img {
          width: 100%;
        }

        .breweries > ul > li > figure > figcaption {
          position: absolute;
          bottom: 0;
          color: lightblue;
          background-color: rgba(0,0,0,.7);
          width: 100%;
        }

        .breweries > ul > li > figure > figcaption > h3 {
          color: lightblue;
          padding: .75rem;
          font-size: 1.25rem;
        }

        .breweries > ul > li > p {
          font-size: 1rem;
          line-height: 1.5;
          padding: 1rem .75rem;
          color: #666666;
          color: lightblue;
        }

        .breweries > ul > li > a {
          padding: .5rem 1rem;
          margin: .5rem;
        }

        /* footer */
        footer {
          background-color: #333;
          padding: .75rem;
          color: lightblue;
          text-align: center;
          font-size: .75rem;
        }
    </style>
    <div align="center">
        <main class="page-basic-wrapper">
          <section class="hero">
            <h1 style="color:mediumseagreen">BILL TORCASO DOT ORG</h1>
            <article>
              <p style="color:black">This is the personal website of Bill Torcaso. It contains a great many photographs,
              blogs on a couple of different topics (programming, politics, ...).</p>
                {#<p><a href="#btosection">Browse</a></p>#}
          {% if self.get_ancestors|length > 1 %}
            <ul class="cmpnt-breadcrumbs wrapper">
                <li><a href="/"><i class="icon-home"></i><span>Home</span></a></li>
                {% for page in self.get_ancestors %}
                    {% if page.is_root == False and page.url != '/'%}
                    <li><a href="{% pageurl page %}">{{ page.title }}</a></li>
                    {% endif %}
                {% endfor %}
                <li class="active"><a href="{{self.url}}">{{ self.title }}</a></li>
            </ul>
          {% endif %}
            </article>
          </section>
          <section class="btosection" id="btosection">
                <ul>
                  {% for thing in page.info_stream %}
                      <li>
                        <figure>
                          {% image thing.value.image min-200x200 %}
                          {#{% image thing.value.image fill-200x200-c50 %}#}
                          <figcaption>
                            <h3>{{ thing.value.caption }}</h3>
                          </figcaption>
                          <p>{{ thing.value.info }}</p>
                        </figure>
                      </li>
                  {% endfor %}
                </ul>
          </section>
          <section class="breweries" id="breweries">
            <ul>
              <li>
                <figure>
                  <!-- Photo by Quentin Dr on Unsplash -->
                  <img src="https://images.unsplash.com/photo-1471421298428-1513ab720a8e" alt="Several hands holding beer glasses">
                  <figcaption><h3>Billions upon billions</h3></figcaption>
                </figure>
                <p>
                  Made in the interiors of collapsing stars star stuff harvesting star light venture billions upon billions Drake Equation brain is the seed of intelligence?
                </p>
                <a href="#">Visit Website</a>
              </li>
              <li>
                <figure>
                  <!-- Photo by Drew Farwell on Unsplash -->
                  <img src="https://images.unsplash.com/photo-1513309914637-65c20a5962e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80" alt="Several friends doing a toast">
                  <figcaption><h3>Drake Equation</h3></figcaption>
                </figure>
                <p>
                  Another world citizens of distant epochs from which we spring descended from astronomers Orion's sword shores of the cosmic ocean.
                </p>
                <a href="#">Visit Website</a>
              </li>
              <li>
                <figure>
                  <!-- Photo by Rawpixel on Unsplash -->
                  <img src="https://images.unsplash.com/photo-1535359056830-d4badde79747?ixlib=rb-1.2.1&auto=format&fit=crop&w=3402&q=80" alt="Three different glasses of beer">
                  <figcaption><h3>Vast cosmic arena</h3></figcaption>
                </figure>
                <p>
                  Galaxies the ash of stellar alchemy prime number science inconspicuous motes of rock and gas brain is the seed of intelligence.
                </p>
                <a href="#">Visit Website</a>
              </li>
              <li>
                <figure>
                  <!-- Photo by Quentin Dr on Unsplash -->
                  <img src="https://images.unsplash.com/photo-1471421298428-1513ab720a8e" alt="Several hands holding beer glasses">
                  <figcaption><h3>Billions upon billions</h3></figcaption>
                </figure>
                <p>
                  Made in the interiors of collapsing stars star stuff harvesting star light venture billions upon billions Drake Equation brain is the seed of intelligence?
                </p>
                <a href="#">Visit Website</a>
              </li>
              <li>
                <figure>
                  <!-- Photo by Drew Farwell on Unsplash -->
                  <img src="https://images.unsplash.com/photo-1513309914637-65c20a5962e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80" alt="Several friends doing a toast">
                  <figcaption><h3>Drake Equation</h3></figcaption>
                </figure>
                <p>
                  Another world citizens of distant epochs from which we spring descended from astronomers Orion's sword shores of the cosmic ocean.
                </p>
                <a href="#">Visit Website</a>
              </li>
              <li>
                <figure>
                  <!-- Photo by Rawpixel on Unsplash -->
                  <img src="https://images.unsplash.com/photo-1535359056830-d4badde79747?ixlib=rb-1.2.1&auto=format&fit=crop&w=3402&q=80" alt="Three different glasses of beer">
                  <figcaption><h3>Vast cosmic arena</h3></figcaption>
                </figure>
                <p>
                  Galaxies the ash of stellar alchemy prime number science inconspicuous motes of rock and gas brain is the seed of intelligence.
                </p>
                <a href="#">Visit Website</a>
              </li>
              <li>
                <figure>
                  <!-- Photo by Quentin Dr on Unsplash -->
                  <img src="https://images.unsplash.com/photo-1471421298428-1513ab720a8e" alt="Several hands holding beer glasses">
                  <figcaption><h3>Billions upon billions</h3></figcaption>
                </figure>
                <p>
                  Made in the interiors of collapsing stars star stuff harvesting star light venture billions upon billions Drake Equation brain is the seed of intelligence?
                </p>
                <a href="#">Visit Website</a>
              </li>
              <li>
                <figure>
                  <!-- Photo by Drew Farwell on Unsplash -->
                  <img src="https://images.unsplash.com/photo-1513309914637-65c20a5962e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80" alt="Several friends doing a toast">
                  <figcaption><h3>Drake Equation</h3></figcaption>
                </figure>
                <p>
                  Another world citizens of distant epochs from which we spring descended from astronomers Orion's sword shores of the cosmic ocean.
                </p>
                <a href="#">Visit Website</a>
              </li>
              <li>
                <figure>
                  <!-- Photo by Rawpixel on Unsplash -->
                  <img src="https://images.unsplash.com/photo-1535359056830-d4badde79747?ixlib=rb-1.2.1&auto=format&fit=crop&w=3402&q=80" alt="Three different glasses of beer">
                  <figcaption><h3>Vast cosmic arena</h3></figcaption>
                </figure>
                <p>
                  Galaxies the ash of stellar alchemy prime number science inconspicuous motes of rock and gas brain is the seed of intelligence.
                </p>
                <a href="#">Visit Website</a>
              </li>
            </ul>
          </section>
        </main>
        <div class="btitem-footer">
            <div >
                <p>{% footer_text_get %}</p>
                <p>&copy; 2020 billtorcaso.org</p>
            </div>
        </div>
    </div>
    </section>
{% endblock content %}
